@import 'tailwindcss';

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vw;
    background: #cbd5e1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 100vh;
    /* border: 1px solid #cbd5e1; */
  }
}
